{% extends 'biblioteca/header.html' %}
{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/esto.css" %}">

<div class="container">

    <div class="md-form active-cyan-2 mb-3" style="margin-top: 40px;padding: 0px;">
        <form action="{% url 'buscarLibro' %}" method="POST">
          {% csrf_token %}
          <input class="form-control" type="text" placeholder="Buscar por titulo" aria-label="Search" name="busqueda">
        </form>
      </div>

  <div class="row">
		<table class="table table-bordered">
    <thead>
      <tr>
        <th>Cliente </th>
        <th>Titulo</th>
        <th>fecha prestamo</th>
        <th>fecha expirada</th>
        <th>registrar devolución</th>
      </tr>
    </thead>
    <tbody>
      {% for sublista in lista %}
      {% for libro in sublista %}
      
      <tr>
        <td>{{libro.cliente}}</td>
        <td>{{libro.libro.titulo}}</td>
        <td>{{libro.fecha_devolucion}}</td>
        {% if libro.fecha_devolucion < datetime.now %}
        <td style="background-color: red;">yes</td>
        {% else %}
        <td style="background-color: green;">no</td>
        {% endif %}
        <td><button type="button" class="btn btn-success">Registrar devolución</button></td>
      </tr>
      
      {% endfor %}  
      {% endfor %}  
    </tbody>
  </table>
	</div>
</div>

{% endblock %}